<header>
    <div class="tsd-page-toolbar">
        <div class="container">
            <div class="table-wrap">
                <div class="table-cell">
                    <strong><a href="{{relativeURL "index.html"}}">{{project.name}}</a></strong>
                </div>
            </div>
        </div>
    </div>
</header>
